<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="miscForm" (ngSubmit)="onFormSubmit()">
        <div class="form-group">
          <div class="row">
            <label for="domainName" class="col-md-2">Domain Name</label>&nbsp;
            <input type="text" class="form-control col-sm-4" name="domainName" id="domainName" formControlName="domainName">
            <span *ngIf="miscForm.get('domainName').invalid && miscForm.get('domainName').touched">Please enter the domain name!</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <hr>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label for="salary" class="col-md-2">Salary</label>&nbsp;
            <input type="number" class="form-control col-sm-2" name="salary" id="salary" formControlName="salary">
            <span *ngIf="miscForm.get('salary').invalid && miscForm.get('salary').touched"></span>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <hr>
          </div>
        </div>

        <div formArrayName="languages">
          <button class="btn btn-default" (click)="addALanguage()">Add a language</button>&nbsp;
          <br>
          <br>
          <div class="form-group" *ngFor="let language of miscForm.get('languages').controls; let i=index">
            <div class="row">
              <label class="col-sm-2" for="languages">Language {{i+1}}</label>&nbsp;
              <input type="text" class="form-control col-sm-4" [formControlName]="i">&nbsp;
              <button class="btn btn-danger" (click)="onDeleteLanguage(i)">Delete</button>
            </div>
            <span *ngIf="language.invalid && language.touched" [ngStyle]="{'color': 'red'}">Please enter a language!</span>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <hr>
          </div>
        </div>

        <div formArrayName="trainingDetails">
          <button class="btn btn-default" (click)="addATraining()">Add training details</button>
          <br>
          <br>
          <table class="table">
            <thead>
              <tr aria-colspan="10">
                <th colspan="1" scope="col">#</th>
                <th colspan="5" scope="col">Training Name</th>
                <th colspan="2" scope="col">Date of Completion</th>
                <th colspan="2" scope="col">Passing Grade</th>
              </tr>
            </thead>
          </table>
          <!-- <tbody> -->
          <div *ngFor="let formGroup of miscForm.get('trainingDetails').controls; let i =index">
            <div [formGroupName]="i">
              <div class="row col-sm-12">
                <div class="col-sm-1">{{i+1}}</div>
                <div class="col-sm-5">
                  <input type="text" class="form-control" formControlName="trainingName" placeholder="Training Name">
                </div>

                <div class="col-sm-2">
                  <input type="text" class="form-control" formControlName="completionDate" placeholder="Completion Date">
                </div>

                <div class="col-sm-2">
                  <input type="text" class="form-control" formControlName="passingGrade" placeholder="Passing Grade">
                </div>
                <button class="btn btn-danger" (click)="deleteATraining(i)">Delete</button>
              </div>
            </div>

            <!-- <div *ngFor="let entryRowCol of entryRowGroup; let j = index" class="form-control">
                  <div [formGroupName]="i">
                    <input type="text" formControlName="trainingName" placeholder="Training Name">
                    <input type="text" formControlName="completionDate" placeholder="Completion Date">
                    <input type="text" formControlName="passingGrade" placeholder="Passing Grade">
                  </div>
                </div> -->
            <br>
          </div>
          <!-- </tbody> -->
          <!-- </table> -->
          <!-- <div class="form-group" *ngFor="let training of trainingDetails.controls; let i=index">
            <div class="row">
              <span class="col-sm-1">{{i+1}}</span>
              <input class="form-control col-sm-4" type="text" [formControlName]="i">&nbsp;
              <button class="btn btn-danger" (click)="onDeleteATraining">Delete</button>
            </div>
          </div> -->
        </div>
        <div class="row">
          <div class="col-sm-8">
            <hr>
          </div>
        </div>
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
